:root {
  --base: #2196f3;
  --blur: 0px;
  --spacing: 10px;
}

body {
  text-align: center;
  background: #193549;
  color: white;
  background-image: url("https://hdqwalls.com/wallpapers/mountains-digital-art-minimalist-l9.jpg");
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

img {
  max-width: 700px;
  background-color: var(--base);
  padding: var(--spacing);
  filter: blur(var(--blur));
}
