html,
body {
  margin: 0;
  color: white;
}

:root {
  --baseValue: #2196f3;
  --size: 5;
}

.group1 {
  display: flex;
  flex: 1;
  padding: 1rem;
  justify-content: space-between;
  background-color: black;
}

.buttonBorrar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
}

.colorGroup {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-top: 15px;
}

.colorGroup label {
  margin-top: 5px;
  margin-right: 5px;
  font-size: 1rem;
}

.sizeGroup {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sizeGroup > input {
  width: 100px;
  margin-bottom: 20px;
}

span {
  color: white;
  display: flex;
  font-size: 3rem;
  font-weight: 300;
  justify-content: center;
  align-items: center;
}
